body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #f00606;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;

}

th, td {
    padding: 8px 12px;
    text-align: left;

}

th {
    background-color: #f2f2f2;
}

.jobs-table h1 {
    color:#f00606
    
    

}
