<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<head>
    <title>Paid and Paid out Management</title>
</head>
<body>
    <h1>Paid <a href="{{ url_for('view_paid') }}" target="_blank">View in new window</a></h1>
    <table>
        <tr>
            <th>Client Name</th>
            <th>Contact Info</th>
            <th>Email</th>
            <th>Address</th>
            <th>Payment Date</th>
            <th>Amount Paid</th>
            <th>Work Performed</th>
        </tr>
        {% for paid in paid %}
        <tr>
            <td>{{ paid.client_name }}</td>
            <td>{{ paid.contact_info }}</td>
            <td>{{ paid.email }}</td>
            <td>{{ paid.address }}</td>
            <td>{{ paid.payment_date }}</td>
            <td>{{ paid.amount_paid }}</td>
            <td>{{ paid.work_performed }}</td>
            {% for info in paid %}
            <td>{{info}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <form action="/submit_paid" method="POST">
        <label for="paid_client_name">Client Name:</label><br>
        <input type="text" id="paid_client_name" name="client_name" value=""><br>

        <label for="paid_contact_info">Contact Info:</label><br>
        <input type="text" id="paid_contact_info" name="contact_info" value=""><br>

        <label for="paid_email">Email:</label><br>
        <input type="text" id="paid_email" name="email" value=""><br>

        <label for="paid_address">address:</label><br>
        <input type="text" id="paid_address" name="address" value=""><br>

        <label for="paid_payment_date">Payment Date:</label><br>
        <input type="text" id="paid_payment_date" name="payment_date" value=""><br>

        <label for="paid_amount_paid">Amount Paid:</label><br>
        <input type="text" id="paid_amount_paid" name="amount_paid" value=""><br>

        <label for="paid_work_performed">Work Performed:</label><br>
        <input type="text" id="work_performed" name="work_performed" value=""><br>
        <input type="submit" value="Submit">
    </form>

    <h2>paid_outs <a href="{{ url_for('view_paid_out') }}" target="_blank">View in new window</a></h2>
    <table>
        <tr>
            <th>Bill Name</th>
            <th>Total Amount</th>
            <th>Due Date</th>
            <th>Amount Due</th>
            <th>Amount Paid</th>
            <th>Payment Method</th>
        </tr>
        {% for paid in paid out %}
        <tr>
            <td>{{ paid_out['bill_name'] }}</td>
            <td>{{ paid_out['total_amount'] }}</td>
            <td>{{ paid_out['due_date'] }}</td>
            <td>{{ paid_out['amount_due'] }}</td>
            <td>{{ paid_out['amount_paid'] }}</td>
            <td>{{ paid_out['payment_method'] }}</td>
            {% for info in paid out %}
            <td>{{info}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <h3>Input Payments</h3>
    <form action="/submit_paid_out" method="POST">
        <label for="paid_out_bill_name">Bill Name:</label><br>
        <input type="text" id="paid_out_bill_name" name="bill_name" value=""><br>

        <label for="paid_out_total_amount">Total Amount:</label><br>
        <input type="text" id="paid_out_total_amount" name="total_amount" value=""><br>

        <label for="paid_out_due_date">Due Date:</label><br>
        <input type="text" id="paid_out_due_date" name="due_date" value=""><br>

        <label for="paid_out_amount_due">Amount Due:</label><br>
        <input type="text" id="paid_out_amount_due" name="amount_due" value=""><br>


        <label for="paid_out_amount_paid">Amount Paid:</label><br>
        <input type="text" id="paid_out_amount_paid" name="amount_paid" value=""><br>

        <label for="paid_out_payment_method">Payment Method:</label><br>
        <input type="text" id="paid_out_payment_method" name="payment_method" value=""><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>
