<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paid.css') }}">

    <title>View Paid</title>
</head>
<body>
    <table class="paid-table">
        <thead>
            <tr>
                <!-- Add your column headers here -->
                <th>Client Name</th>
                <th>Contact Info</th>
                <th>Email</th>
                <th>Address</th>
                <th>Payment Date</th>
                <th>Amount Paid</th>
                <th>Work Performed</th>
                <!-- ... and so on for each column -->
            </tr>
        </thead>
        <tbody>
            {% for paid in paid %}
            <tr>
                <td>{{ paid['client_name'] }}</td>
                <td>{{ paid['contact_info'] }}</td>
                <td>{{ paid['email'] }}</td>
                <td>{{ paid['address'] }}</td>
                <td>{{ paid['payment_date'] }}</td>
                <td>{{ paid['amount_paid'] }}</td>
                <td>{{ paid['work_performed'] }}</td>
                {% for info in paid %}
                
                <!-- ... and so on for each column -->
            </tr>
            
            {% endfor %}
            <a href="{{ url_for('index') }}" class="btn btn-back">Back to Main</a>
        </tbody>
    </table>
</body>
</html>
