<!DOCTYPE html>
<html>
<head>
    <title>View Bids</title>
</head>
<body>
    <table class="bids-table">
        <thead>
            <tr>
                <!-- Add your column headers here -->
                <th>Client Name</th>
                <th>Contact Info</th>
                <th>Email Address</th>
                <th>Address</th>
                <th>Date of Bid</th>
                <th>Material Estimate</th>
                <th>Labor Estimate</th>
                <th>Estimated Timeframe</th>
                <th>Estimated Number of Workers</th>
                <th>Grand Total of Bid</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for bid in bids %}
            <tr>
                <td>{{ bid.Client Name }}</td>
                <td>{{ bid.Contact Info }}</td>
                <td>{{ bid.Email Address }}</td>
                <td>{{ bid.address }}</td>
                <td>{{ bid.date_of_bid }}</td>
                <td>{{ bid.material_estimate }}</td>
                <td>{{ bid.labor_estimate }}</td>
                <td>{{ bid.estimated_timeframe }}</td>
                <td>{{ bid.estimated_number_of_workers }}</td>
                <td>{{ bid.grand_total_bid }}</td>
                <td>{{ bid.status }}</td>
            </tr>
            {% for info in bids %}
        {% endfor %}
        
        </tbody>
        <a href="{{ url_for('index') }}" class="btn btn-back">Back to Main</a>
    </table>
</body>
</html>
