<!DOCTYPE html>
<html>
<head>
    <title>View Jobs</title>
</head>
<body>
    <table class="jobs-table">
        <thead>
            <tr>
                <!-- Add your column headers here -->
                <th>Client Name</th>
                <th>Contact Info</th>
                <th>Location</th>
                <th>Job Details</th>
                <th>Start Date</th>
                <th>Estimated EndDate</th>
                <th>Onsite Workers</th>
                <th>Progress</th>
                <!-- ... and so on for each column -->
            </tr>
        </thead>
        <tbody>
            {% for paid in paid %}
            <tr>
                <td>{{ job['client_name'] }}</td>
                <td>{{ job['contact_info'] }}</td>
                <td>{{ job['email'] }}</td>
                <td>{{ job['address'] }}</td>
                <td>{{ job['payment_date'] }}</td>
                <td>{{ job['amount_paid'] }}</td>
                <td>{{ job['work_performed'] }}</td>
                {% for info in paid %}
                <td>{{info}}</td>
                {% endfor %}
                
                <!-- ... and so on for each column -->
            </tr>
            
            {% endfor %}
            <a href="{{ url_for('index') }}" class="btn btn-back">Back to Main</a>
        </tbody>
    </table>
</body>
</html>
