<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paid_out.css') }}">

    <title>View Paid out</title>
</head>
<body>
    <table class="paid_out-table">
        <column>
        <thead>
            <tr>
                <!-- Add your column headers here -->
                <th>Bill Name</th>
                <th>Total Amount</th>
                <th>Due Date</th>
                <th>Amount Due</th>
                <th>Amount Paid</th>
                <th>Payment Method</th>
            </tr>
        </thead>
         </column>
        <tbody>
            {% for paid in paid_out %}
            <tr>
                <td>{{ paid_out['bill_name'] }}</td>
                <td>{{ paid_out['total_amount'] }}</td>
                <td>{{ paid_out['due_date'] }}</td>
                <td>{{ paid_out['amount_due'] }}</td>
                <td>{{ paid_out['amount_paid'] }}</td>
                <td>{{ paid_out['payment_method'] }}</td>
                {% for info in paid_out %}
                {% endfor %}
            </tr>
        {% endfor %}
        
        </tbody>
        <a href="{{ url_for('index') }}" class="btn btn-back">Back to Main</a>
    </table>
</body>
</html>
